<!DOCTYPE html>
<html lang="{{ page_lang|default("he", true) }}">
<head>
    {% block page_head %}
        {# Title #}
        <title>{{ page_head_title_author|default('Dr.Ink', true) }}
            | {{ page_head_title|default('Flask skeleton project', true) }}</title>

        {# Meta tags #}
        {% block page_head_meta %}
            <base href="/"/>
            <meta charset="UTF-8"/>
            <meta name="author" content="group 7"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
            {% block page_head_meta_extra %}{% endblock %}
        {% endblock %}

        {# CSS #}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
        {% block page_head_css %}{% endblock %}
    {% endblock %}
</head>
<body>
        {% block page_body_content %}

            {# Header #}
            {% block page_body_header %}
                <header class="page-header">
                    {% include 'header.html' %}
                </header>
            {% endblock %}

            {# Main #}
            {% block page_body_main %}
                    <div class="percenter">
                        <main class="row-main">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <h3 style="color:#ff0000;margin-top:5vmin">{{ message }}</h3>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            {% block page_body_main_content %}
                            {% endblock %}
                        </main>
                    </div>
                {% endblock %}

            {# Footer #}
            {% block page_body_footer %}
                <footer class="page-footer">
                     {% include 'footer.html' %}
                  {% block page_body_footer_content %}
                  {% endblock %}
                </footer>
            {% endblock %}

        {% endblock %}

        {# JS #}
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        {% block page_body_js %}{% endblock %}
</body>
</html>




