<!DOCTYPE html>
<html lang="{{ page_lang|default("he", true) }}">
    <head>
    {% block page_head %}
        {# Title #}
        <title>{{ page_head_title_author|default('Dr.Ink', true) }}
            | {{ page_head_title|default('Flask skeleton project', true) }}</title>

        {# Meta tags #}
        {% block page_head_meta %}
            <base href="/"/>
            <meta charset="UTF-8"/>
            <meta name="author" content="group 7"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Flask skeleton project as a base to start developing on"/>
            <meta name="keywords" content="flask, lean, skeleton, project, structure, environment, setup, template, fullstack, web, development, app, university, education"/>
            {% block page_head_meta_extra %}{% endblock %}
        {% endblock %}

        {# favicon #}
        <link rel="icon" href="{{ url_for('static', filename='media/logo.jpeg') }}"/>

        {# Base #}
        <base href="/"/>

        {# CSS #}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
        {% block page_head_css %}{% endblock %}
    {% endblock %}
    </head>
    <body>
        {% block page_body_content %}

            {# Header #}
            {% block page_body_header %}
                <header class="page-header">
                    {% include 'header.html' %}
                </header>
            {% endblock %}

            {# Main #}
            {% block page_body_main %}
                <main class="page-main">
                  {% block page_body_main_content %}
                  {% endblock %}
                </main>
            {% endblock %}

            {# Footer #}
            {% block page_body_footer %}
                <footer class="page-footer">
                     {% include 'footer.html' %}
                  {% block page_body_footer_content %}
                  {% endblock %}
                </footer>
            {% endblock %}

        {% endblock %}

        {# JS #}
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        {% block page_body_js %}{% endblock %}
    </body>
</html>
