<link rel="stylesheet" href="{{ url_for('footer.static', filename='/css/Footer.css') }}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

<footer>
    <div class="Footer">
        <div style="color: white" class="Contact" onclick="openContactUs()">Contact Us</div>
        <div class="form-popup" id="myContact">
            <form method="post" action="/footer" class="form-container">
                <h2>Contact Us:</h2>
                <label for="name" id="name"><b>First Name</b></label>
                <br>
                <input type="text" placeholder="Enter Your first name" name="first_name" required>
                <br>

                <label for="name" id="name"><b>Last Name</b></label>
                <br>
                <input type="text" placeholder="Enter Your last name" name="last_name" required>
                <br>

                <label for="email" id="email"><b>Email</b></label>
                <br>
                <input type="email" placeholder="Enter Your Email" name="email" required>
                <br>

                <label for="massage" id="massage"><b>What would you like to tell us?</b></label>
                <br>
                <input type="text" placeholder="Enter Your Massage" name="massage" required><br>
                <button type="submit" class="btn">Send</button>
                <br>
                <button class="btn cancel" onclick="closeContactUs()">Close</button>
            </form>
        </div>
        <div class="Privacy_policy">
            <a style="color: white" href="/privacy_policy">Privacy Policy</a></div>
        <div class="About">
            <a style="color: white" href="/about">About</a>
        </div>
    </div>
</footer>