{box-sizing: border-box;}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom:10%;
  left: 30%;
  z-index:999;
  border: 2px solid black;
  background-color: white;
  text-align: center;
}

.Sign-in  .form-popup {
  bottom:20%;
}


/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;
}

/* Full-width input fields */
.form-container input{
  text-align: center;
  width: 75%;
  padding: 15px;
  margin: 0px 0 22px 0;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  width: 300px;
  background-color: #04AA6D;
  color: white;
  padding: 16px 24px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  border: 1px solid black;
  opacity: 0.8;
}

.form-container .btn.sign_in {
  width: 147.5px;
  background-color: #04AA6D;
}

.form-container .btn.sign_up {
  background-color: darkgray;
  width: 147.5px;
}


/* Add a red background color to the cancel button */
.form-container .btn.cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover{
  opacity: 1;
}