
*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    background-image: url(../../general/static/Balg6Fx.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.row:after{
    content : "";
    clear: both;
    display: block;
}
    [class*="col-"]{
    float: left;
    padding: 50px;
    }

/* For desktop: */
.col-1 {width: 20%;}
.col-2 {width: 80%;}
.col-3 {width: 100%;}

.Shops_title {
    font-family: 'New Tegomin', serif;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 10px;
}

.Products {
    display: table;
    position: relative;
    text-align: center;
    margin-top :100px;
}

.product{
    height: 300px;
    display: table-cell;
    width: 25%;
    padding-bottom: 30px;
}

.round{
    border-radius: 50%;
}

.product p{
    vertical-align: middle;
    color: white;
}

.Add_To_Cart{
    text-align: center;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 4px 10px;
}

.Add_To_Cart:hover{
    background-color: grey;
}
