{% extends 'base.html' %}

{% set page_head_title = 'sign_up' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('sign_up.static', filename='/sign_up.css') }}"/>
{% endblock %}

{% block page_body_main_content %}


<section class="head">
    <h2>REGISTER</h2>
</section>
<section>
    <div>
        <form method="post" action="/action_page.php" class="info">
            <div class="detail">
                <label for="fullname">Full Name</label>
                <input class="input-info" type="text" id="fullname" name="fullname" placeholder="Name">
                <input class="input-info" type="text" id="fullname" name="fullname" placeholder="Full Name">
            </div>

            <div class="detail">
                <label for="password">Password</label>
                <input class="input-info" type="password" id="new_password" name="password" placeholder="Password">
            </div>

            <div class="detail">
                <label for="city">City</label>
                <select id="city" name="city">

                    <option value="tel-aviv">Tel Aviv</option>
                    <option value="haifa">Haifa</option>
                    <option value="beer sheva">Beer Sheva</option>
                    <option value="givatayim">Givatayim</option>
                </select>
            </div>

            <div class="detail">
                <label for="date">Birthdate</label>
                <input class="input-info" type="date" id="date" name="date">
            </div>

            <div class="detail end">
                <label for="email" id="email">Email</label>
                <input class="input-info" type="email" id="e-mail" name="e-mail" placeholder="email address">
            </div>
            <div class="button-submit">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}

{% block page_body_footer %}{% endblock %}

