{% extends 'base.html' %}

{% set page_head_title = 'sign_up' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('sign_up.static', filename='/sign_up.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

<section class="head">
    <h2>REGISTER</h2>
</section>
<section>
    <div>
        <form method="post" action="/sign_up" class="info">
            <div class="detail end">
                <label for="email" id="email">Email</label>
                <input class="input-info" type="email" name="email" placeholder="email address" required>
            </div>

            <div class="detail">
                <label for="fullname">First Name</label>
                <input class="input-info" type="text" name="first_name" placeholder="First Name" required>
            </div>

            <div class="detail">
                <label for="fullname">Last Name</label>
                <input class="input-info" type="text" name="last_name" placeholder="Last Name" required>
            </div>

              <div class="detail">
                <label for="username">Username</label>
                <input class="input-info" type="text" name="user_name" placeholder="Choose a user name" required>
            </div>

            <div class="detail">
                <label for="password">Password</label>
                <input class="input-info" type="password" name="password" placeholder="Password" required>
            </div>

            <div class="button-submit">
                <button type="submit">Join us</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}

