<link rel="stylesheet" href="../../../flaskProject/static/css/Footer.css">
<script src="../static/HomePage.js"></script>
<script src="../../general/static/contact.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

<footer>
    <div class="Footer">
        <div class="Contact" onclick="openContactUs()">Contact Us</div>
        <div class="form-popup" id="myContact">
            <form class="form-container">
                <h2>Contact Us:</h2>
                <label for="name" id="name"><b>Full Name</b></label>
                <br>
                <input type="text" placeholder="Enter Your name" name="name" required>
                <br>
                <label for="email" id="email"><b>Email</b></label>
                <br>
                <input type="email" placeholder="Enter Your Email" name="email" required>
                <br>
                <label for="massage" id="massage"><b>What would you like to tell us?</b></label>
                <br>
                <input type="massage" placeholder="Enter Your Massage" name="massage" required>
                <button type="submit" class="btn">Send</button>
                <br>
                <button class="btn cancel" onclick="closeContactUs()">Close</button>
            </form>
        </div>
        <div class="Privacy_policy">
            <a href="../../../pages/Privacy_Policy/templates/privacy_policy.html">Privacy Policy</a></div>
        <div class="About">
            <a href="../../../pages/about/templates/about.html">About</a>
        </div>
    </div>
</footer>