{% extends 'base.html' %}

{% set page_head_title = 'piercing_gallery' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('piercing_gallery.static', filename='../../piercing_gallery/static/css/piercing_gallery.css') }}"/>
{% endblock %}


{% block page_body_main_content %}
<div class="background">
    <div class="row">
        <div class="head">
            <h1 id="top" class="gallery-head">Piercing Gallery</h1>
        </div>
    </div>
    <div class="parts">
        <a href="#ears">Ears</a>
        <a href="#Microdermal">Microdermal</a>
        <a href="piercing_gallery2.html">Nose</a>
        <a href="piercing_gallery2.html">Lips</a>
    </div>
    <div><h4 class="piercing-heads">Click the arrows to see what you desire</h4></div>

    <div class="row">
        <h2 id="ears" class="piercing-heads">Ears</h2>
        <div class="slideshow-container">
            <div class="mySlides1">
                <img class="SlideImg" src="../static/media/epi1.jpg" style="width:50%">
            </div>

            <div class="mySlides1">
                <img class="SlideImg" src="../static/media/epi2.jpg" style="width:50%">
            </div>

            <div class="mySlides1">
                <img class="SlideImg" src="../static/media/epi3.jpg" style="width:50%">
            </div>

            <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
        </div>
        <br><br>
        <div class="back_up">
            <a href="#top">BACK UP</a>
        </div>
    </div>

    <div class="row">
        <h2 id="Microdermal" class="piercing-heads">Microdermal</h2>
        <div class="slideshow-container">
            <div class="mySlides2">
                <img class="SlideImg" src="../static/media/micro1.jpg" style="width:50%">
            </div>

            <div class="mySlides2">
                <img class="SlideImg" src="../static/media/micro2.jpg" style="width:50%">
            </div>

            <div class="mySlides2">
                <img class="SlideImg" src="../static/media/mic3.jpg" style="width:50%">
            </div>

            <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
        </div>
        <br><br>
    </div>
    <br><br>

    <div class="back_up">
        <a href="#top">BACK TO THE TOP</a>
    </div>
</div>
</div>
{% endblock %}


{% block page_body_js %}
    <script src="{{ url_for('piercing_gallery.static', filename='../../piercing_gallery/static/js/piercing_gallery.js') }}"></script>
{% endblock %}


