{% extends 'base.html' %}

{% set page_head_title = 'piercing_gallery' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('piercing_gallery.static', filename='/css/piercing_gallery.css') }}"/>
{% endblock %}


{% block page_body_main_content %}

<div class="background">
    <div class="row">
        <div class="head">
            <h1 id="top" class="gallery-head">Piercing Gallery</h1>
        </div>
    </div>
    <div class="parts">
        <a style="color: white" href="/piercing_gallery">Ears</a>
        <a style="color: white" href="/piercing_gallery">Microdermal</a>
        <a>Nose</a>
        <a>Lips</a>
    </div>
    <div><h4 class="piercing-heads">Click the arrows to see what you desire</h4></div>

    <div class="row">
        <h2 id="nose" class="piercing-heads">Nose</h2>
        <div class="slideshow-container">
            <div class="mySlides1">
                <img class="SlideImg" src="{{ url_for('piercing_gallery.static', filename='/media/nose1.jpg') }}" style="width:50%">
            </div>

            <div class="mySlides1">
                <img class="SlideImg" src="{{ url_for('piercing_gallery.static', filename='/media/nose2.jpg') }}" style="width:50%">
            </div>

            <div class="mySlides1">
                <img class="SlideImg" src="{{ url_for('piercing_gallery.static', filename='/media/nose3.jfif') }}" style="width:50%">
            </div>

            <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
        </div>
        <br><br>
    </div>

    <div class="row">
        <h2 id="lips" class="piercing-heads">Lips</h2>
        <div class="slideshow-container">
            <div class="mySlides2">
                <img class="SlideImg" src="{{ url_for('piercing_gallery.static', filename='/media/lips1.jpg') }}" style="width:50%">
            </div>

            <div class="mySlides2">
                <img class="SlideImg" src="{{ url_for('piercing_gallery.static', filename='/media/lips2.jpg') }}" style="width:50%">
            </div>

            <div class="mySlides2">
                <img class="SlideImg" src="{{ url_for('piercing_gallery.static', filename='/media/lips3.jpg') }}" style="width:50%">
            </div>

            <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
        </div>
        <br><br>
    </div>
    <br><br>
</div>
</div>
{% endblock %}


{% block page_body_js %}
    <script src="{{ url_for('piercing_gallery.static', filename='/js/piercing_gallery.js') }}"></script>
{% endblock %}









