
.Logo {
    display: table;
    height:50px;
    width:100%;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Logo img{
    cursor:pointer;
}

.Sign-in{
    cursor: pointer;
    display: table-cell;
    width: 5%;
    vertical-align: middle;
}

.sign_up a{
    color: black;
}

.button-signup{
    align-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: lightslategray;
    color: black;
    border-radius: 12px;
    width: 60%;
    height: 50px;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.button-signin{
    align-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: lightslategray;
    color: black;
    border-radius: 12px;
    width: 60%;
    height: 50px;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.button-cancel{
    align-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: lightslategray;
    color: black;
    border-radius: 12px;
    width: 60%;
    height: 50px;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}

.button-cancel:hover{
        cursor: pointer;
    background-color: lightblue;
}

.button-signup:hover{
        cursor: pointer;
    background-color: lightblue;
}

header{
    color: white;
}

.Cart{
    width: 5%;
    display: table-cell;
    vertical-align: middle;
}


.Logo2{
    display: table-cell;
    width: 80%;
}

.Facebook{
    width: 5%;
    display: table-cell;
    vertical-align: middle;
}

.Instagram{
    width: 5%;
    display: table-cell;
    vertical-align: middle;
}

.Menu {
    cursor:pointer;
    display: table;
    width:100%;
    text-align:center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
       font-family: 'Montserrat', sans-serif;
}

.Menu a{
    text-decoration: none;
    color: white;
}

.Menu :hover{
    font-weight: bold;
}

.Home{
    display: table-cell;
    width: 20%;
    color: white;
}

.Gallery{
    width: 20%;
    display: table-cell;
}


.Treatment{
    display: table-cell;
    width: 20%;
}

.Shop{
    display: table-cell;
    width: 20%;
}

.Info{
    display: table-cell;
    width: 20%;
}
