{% extends 'base.html' %}

{% set page_head_title = 'Gallery' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('gallery.static', filename='/css/FullGallery.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

<div class="row">
    <div class="col-2 right main1">
        <a href="/tattoo_gallery"
           style="text-decoration:none"> Tattoo Gallery </a>
    </div>
    <div class="col-2 right main2">
        <a href="/piercing_gallery"
           style="text-decoration:none"> Piercing Gallery </a>
    </div>
</div>

{% endblock %}



