<!DOCTYPE html>
<html lang="he">
<head>
    <title> Piercing_Treatments </title>
    <link rel="stylesheet" href="../static/Piercing_Treatments.css">
    <link rel="stylesheet" href="../../general/static/Header.css">
    <link rel="stylesheet" href="../../general/static/Footer.css">
    <link rel="stylesheet" href="../../appointment/static/Appoitment_popup.css">
    <script src="../../homepage/static/HomePage.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="Logo">
        <div class="Sign-in">
            <img src="../../general/static/userLogo.png" onclick="openSignIn()" height="30px" width="30px"></img>
            <div class="form-popup" id="mySignIn">
                <form class="form-container">
                    <h2>Login</h2><br>
                    <label for="full_name" id="full_name"><b>Full Name</b></label>
                    <br>
                    <input type="text" placeholder="Enter Your Username" name="full_name" required>
                    <br>
                    <label for="password" id="password"><b>Password</b></label>
                    <br>
                    <input type="password" placeholder="Enter Your Password" name="password" required>
                    <button type="submit" class="btn sign_in button-signin">SIGN IN</button>
                </form>
                <h4> You still don't have an account?</h4>
                <button class="btn sign_up button-signup">
                    <a href="../../sign%20up/templates/sign%20up.html">SIGN UP</a>
                </button>
                <br>
                <button class="btn cancel button-cancel" onclick="closeSignIn()">CLOSE</button>
                <br>
            </div>
        </div>

        <div class="Cart">
            <a href="../../cart/templates/Cart.html">
            <img src="../../general/static/cart.jpg" height="30px" width="30px"></img></a>
        </div>
        <div class="Logo2">
            <img src="../../general/static/logo.jpeg" height="80px" width="80px"></img>
        </div>
        <div class="Facebook">
            <img src="../../general/static/facebook.png" height="30px" width="30px"></img>
        </div>
        <div class="Instagram">
            <img src="../../general/static/instagram.png" height="30px" width="30px"></img>
        </div>
    </div>
    <div class="Menu">
        <a href="../../homepage/templates/HomePage.html" class="Home">Home</a>
        <a href="../../treatment/templates/Treatments.html" class="Treatment">Treatment</a>
        <a href="../../gallery/Gallery.html" class="Gallery">Gallery</a>
        <a href="../../shop/templates/Shop.html" class="Shop">Shop</a>
        <a href="../../user%20personal%20page/templates/User's%20Personal%20Page.html" class="Info">Personal Area</a>
    </div>
</header>
<h1 class="treatment-head">How to treat your new Piercing ?</h1>
<div class="background-text">
    <div class="Treatment_Text">
        <ul>
            <li>DO NOT TOUCH YOUR PIERCING.<br>
                The only time you will touch your piercing is when you are cleaning it, and you will first wash your
                hands.
            </li>
            <li>DO NOT REMOVE YOUR JEWELRY.<br>
                New piercings can shrink the moment jewelry is removed, making it painful or impossible to get it back
                in.
            </li>
            <h4>BODY PIERCING AFTERCARE</h4>
            <p>USE WARM SEA SALT WATER (SALINE) SOAKS – MORNING AND EVENING<br>
                Soaking your piercing with a warm, mild sea salt water solution will not only feel good,
                it will also help prevent infection, reduce the risk of scarring, and speed the healing of your
                piercing.
                Do not touch your piercing without first washing your hands; and leave your jewelry in at all times!</p>
            <li>Wash your hands thoroughly.</li>
            <li>Use the ratios below to create your own saline mixture:
                <ol>
                    <li>1⁄4 teaspoon to 8 ounces of water</li>
                    <li>1/2 teaspoon to 16 ounces of water</li>
                    <li>1 teaspoon to 1 quart of water</li>
                    <li>4 teaspoons to 1 gallon of water</li>
                </ol>
            </li>
            <li>Warm the solution in the microwave, then attempt to completely submerge the piercing in the solution for
                10 minutes.
                If the piercing is in an area that can’t be submerged, you can soak a non-woven gauze and apply that to
                the piercing,
                keeping it saturated for 10 minutes.
            </li>
            <li>Rinse the area with clean, running water, then pat it dry with a clean paper towel.</li>
            <li>If your jewelry is threaded (barbells, etc.) check it to make sure it’s still tight! Remember “righty
                tighty,
                lefty loosey.
            </li>
        </ul>
    </div>
    </div>
</body>
<footer>
    <div class="Footer">
        <div class="Contact" onclick="openContactUs()">Contact Us</div>
        <div class="form-popup" id="myContact">
            <form class="form-container">
                <h2>Contact Us:</h2>
                <label for="name" id="name"><b>Full Name</b></label>
                <br>
                <input type="text" placeholder="Enter Your name" name="name" required>
                <br>
                <label for="email" id="email"><b>Email</b></label>
                <br>
                <input type="email" placeholder="Enter Your Email" name="email" required>
                <br>
                <label for="massage" id="massage"><b>What would you like to tell us?</b></label>
                <br>
                <input type="massage" placeholder="Enter Your Massage" name="massage" required>
                <button type="submit" class="btn">Send</button>
                <br>
                <button class="btn cancel" onclick="closeContactUs()">Close</button>
            </form>
        </div>
        <div class="Privacy_policy">
            <a href="../../Privacy%20Policy/templates/Privacy%20Policy.html">Privacy Policy</a></div>
        <div class="About">
            <a href="../../about/tamplates/About.html">About</a>
        </div>
    </div>
</footer>
</html>
