{% extends 'base.html' %}

{% set page_head_title = 'personal_page' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('personal_page.static', filename='/css/personal_page.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

<div class="Users_Personal_page">
    <div id="Appoverlay" onclick="Appoff()">
        <div id="Apptext"> No Appointments</div>
        <a onclick="openAppointment()">
            <div id="NewAppointment"> Make A New Appointment!</div>
        </a>
    </div>
    <div class="app">
        <button type="button" onclick="Appon()" class="Appblock">My Appointments</button>
    </div>
    <div class="form-popup" id="myAppointment">
        <form class="form-container">
            <h2>Schedule an appointment</h2>
            <label for="name" id="name"><b>Full Name</b></label>
            <br>
            <input type="text" placeholder="Enter Your name" name="name" required>
            <br>
            <label for="phone" id="phone"><b>Phone</b></label>
            <br>
            <input type="tel" placeholder="Enter Your Phone" name="phone" required>
            <br>
            <label for="email" id="email"><b>Email</b></label>
            <br>
            <input type="email" placeholder="Enter Your Email" name="email" required>
            <button type="submit" class="btn">Send</button>
            <br>
            <button class="btn cancel" onclick="closeAppointment()">Close</button>
        </form>
    </div>

    <div id="Ordersoverlay" onclick="Ordersoff()">
        <div id="Orderstext">No Orders</div>
        <a href="/shop">
            <div id="NewOrder"> Make A New Order!</div>
        </a>
    </div>
    <button type="button" onclick="Orderson()" class="Ordersblock">My Orders
    </button>
</div>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('personal_page.static', filename='/js/personal_page.js') }}"></script>
{% endblock %}



