
<link rel="stylesheet" href="{{ url_for('header.static', filename='css/Header.css') }}"/>

{% block page_body_header_content %}

{# Main Menu #}
{% block page_body_header_content__main_menu %}
<header>
    <nav class="main-menu">
        <div class="Logo">
            <div class="Sign-in">
                <img src="{{ url_for('static', filename='/media/userLogo.png') }}" onclick="openSignIn()" height="30px"
                     width="30px">
                <div class="form-popup" id="mySignIn">
                    <h2>Login</h2><br>
                    <button class="btn sign_up button-signup">
                        <a href="/sign_in">SIGN IN</a>
                    </button>

                    <h4 style="padding: 10px"> You still don't have an account?</h4>
                    <button class="btn sign_up button-signup">
                        <a href="/sign_up">REGISTER</a>
                    </button>
                    <br>
                    <button class="btn cancel button-cancel" onclick="closeSignIn()">CLOSE</button>
                    <br>
                </div>
            </div>

            <div class="Cart">
                <a href="/cart">
                    <img src="{{ url_for('static', filename='/media/cart.jpg') }}" height="30px" width="30px"></a>
            </div>

            <div style="color: white">
                {% if session['logged_in']==True %}
                    <p>Hi {{ session['user_name'] }}!</p>
                {% else %}
                    <p>Hi Guest!</p>
                {% endif %}
            </div>

            <div class="Logo2">
                <img src="{{ url_for('static', filename='/media/logo.jpeg') }}" height="80px" width="80px">
            </div>

            <div>
                {% if session['logged_in']==True %}
                    <a style="color: white" href="/logout">Logout</a>
                {% endif %}
            </div>

            <div class="Facebook">
                <a href="https://www.facebook.com/profile.php?id=100069708611383">
                    <img src="{{ url_for('static', filename='/media/facebook.png') }}" height="30px" width="30px"></a>

            </div>
            <div class="Instagram">
                <a href="https://www.instagram.com/dr.ink.tat/">
                    <img src="{{ url_for('static', filename='/media/instagram.png') }}" height="30px" width="30px"></a>

            </div>
        </div>
        <div class="Menu">
            <a style="color: white" href="/" class="Home">Home</a>
            <a style="color: white" href="/treatment" class="Treatment">Treatment</a>
            <a style="color: white" href="/gallery" class="Gallery">Gallery</a>
            <a style="color: white" href="/shop" class="Shop">Shop</a>
            <a style="color: white" href="/personal_page_check" class="Info">Personal Area</a>
        </div>
    </nav>
</header>

{% endblock %}

{% endblock %}