{% extends 'base.html' %}

{% set page_head_title = 'cart' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('cart.static', filename='../../cart/static/css/Cart.css') }}"/>
{% endblock %}


{% block page_body_main_content %}

<main>
    <div class="my-cart">
        <div class="title">
            <h1 class="head">Shopping cart</h1>
        </div>
        <br><br>
        <table class="my-products">
            <tr>
                <th>picture</th>
                <th>description</th>
                <th>options</th>
                <th>total price</th>
            </tr>
            <tr>
                <td><img class="prod-pic" src="../static/belly_piercing.jpg" alt="עגיל לבטן"/></td>
                <td>Belly-button piercing
                </td>
                <td>

                    <form class="options" action="">
                        <label for="quantity">Quantity</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="20" value="1">
                    </form>

                <td>
                    <span class="total-price"> ₪200 </span>
                    <button class="del-btn"><img class="del" src="../static/delete_pic.jpg" alt="delete"/></button>
                </td>
            </tr>
            <tr>
                <td><img class="prod-pic" src="../static/ear_piercing.jpg" alt="צמד עגילים אינדיאנים"/></td>
                <td>
                    Indian earings
                </td>
                <td>

                    <form class="options" action="">
                        <label class="checki" for="quantity5">Quantity </label>
                        <input type="number" id="quantity5" name="quantity" min="1" max="20" value="1">
                    </form>

                </td>
                <td>
                    <span class="total-price"> ₪200 </span>
                    <button class="del-btn"><img class="del" src="../static/delete_pic.jpg" alt="delete"/></button>
                </td>
        </table>
    </div>
    <div class="button-submit">
        <button type="submit">Go to payment</button>
    </div>
</main>
{% endblock %}



{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('cart.static', filename='js/cart.js') }}"></script>
{% endblock %}





