{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Appoitment_popup.static', filename='../../appointment/static/Appoitment_popup.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='../../homepage/static/css/homepage.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
<div class="homepage_Main">
    <div class="opt1">
        <video src="../../../flaskProject/pages/homepage/static/media/video.mp4" width="100%;" loop autoplay muted>
            <source src="movie.mp4" type="video/mp4">
        </video>
    </div>
    <div class="opt2">
        <img src="../../../flaskProject/pages/homepage/static/media/appointment.jpg" width="100%;" height="400px;">
        <div class="appointment_text" onclick="openAppointment()">Schedule an appointment</div>
        <div class="form-popup" id="myAppointment">
            <form class="form-container">
                <h2>Schedule an appointment</h2>
                <label for="name"><b>Full Name</b></label>
                <br>
                <input type="text" placeholder="Enter Your name" name="name" required>
                <br>
                <label for="phone" id="phone"><b>Phone</b></label>
                <br>
                <input type="tel" placeholder="Enter Your Phone" name="phone" required>
                <br>
                <label for="email"><b>Email</b></label>
                <br>
                <input type="email" placeholder="Enter Your Email" name="email" required>
                <button type="submit" class="btn">Send</button>
                <br>
                <button class="btn cancel" onclick="closeAppointment()">Close</button>
            </form>
        </div>
    </div>
    <div class="opt3">
        <img src="../../../flaskProject/pages/homepage/static/media/shop.jpg" width="100%;" height="400px;">
        <a href="../../shop/templates/Shop.html" class="shop_text">Shop</a>
    </div>
    <div class="opt4">
        <div class="P_Gallery">
            <img src="../../../flaskProject/pages/homepage/static/media/piercing_gallery.jpg" width="100%;" height="400px;">
            <a href="../../gallery/piercing%20gallery/templates/piercing_gallery.html" class="P_Gallery_text">Piercing
                Gallery</a>
        </div>
        <div class="Gap_Gallery"></div>
        <div class="T_Gallery">
            <img src="../../../flaskProject/pages/homepage/static/media/tattoo_gallery.jpg" width="100%;" height="400px;">
            <a href="../../gallery/tattoo%20gallery/templates/tattoo%20gallery.html" class="T_Gallery_text">Tattoo
                Gallery</a>
        </div>
    </div>
</div>
{% endblock %}


{% block page_body_js %}
    <script src="{{ url_for('Gallery.static', filename='../../homepage/static/js/homepage.js') }}"></script>
{% endblock %}

