{% extends 'base.html' %}

{% set page_head_title = 'tattoo_treatment' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('tattoo_treatment.static', filename='../../tattoo_treatment/static/css/Tattoo_Treatment.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

<h1 class="treatment-head">How to treat your new tattoo ?</h1>
    <div class="Snake_photo">
        <div class="Treatment_Text">
            <p>You finally did it. You got the tattoo you always wanted. It’s bright and it’s colorful. <br>
                But now you have to take care of it to make sure you don’t get a skin infection. <br>
                So how do you even know what the right steps are?<br>
                Here are all the answers:</p>
            <ul>
                <li>Be sure that your new tattoo is covered in a thin layer of petroleum jelly and a bandage.</li>
                <li>Remove the bandage after 24 hours. Gently wash the tattoo with antimicrobial soap and water and be
                    sure to pat dry.
                </li>
                <li>Apply a layer of antibacterial/Vaseline ointment twice a day, but don’t put on another bandage.</li>
                <li>Gently wash your tattoo area twice a day with soap and water and gently pat dry before reapplying
                    the antibacterial/Vaseline ointment.
                </li>
                <li>Keep applying a moisturizer or ointment after you clean it to keep it moist.</li>
                <li>You should repeat this process for 2 to 4 weeks. Also try not to wear clothes that will stick to
                    your tattoo,
                    and avoid swimming and the sun for about 2 weeks. And take cool showers.
                    Scalding hot water will not only hurt, but it can also fade the ink.
                    Wear a physical blocker sunscreen with at least 7% zinc oxide sunscreen during the daylight hours
                    and/or cover it up (with clothing, a bandage).
                </li>
                <li>If your tattoo scabs a bit or develops hard layers, don’t worry. It’s normal. But never pick,
                    scratch, or peel it.
                    You could get an infection or remove the color. If you think your tattoo is infected, or isn’t
                    healing properly,
                    go see your doctor.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('Gallery.static', filename='js/catalog.js') }}"></script>
{% endblock %}




