.Footer{
    cursor: pointer;
    border-top: white solid 2px;
    display: table;
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.form-popup{
    margin-bottom: 0;
}

.Contact{
    display: table-cell;
    text-align: center;
    padding-top: 45px;
    width:33.333%;
        color: white;
}

.Footer :hover{
    font-weight: bold;
}

.Privacy_policy{
    width:33.333%;
    text-align: center;
    padding-top: 45px;
    display: table-cell;
        color: white;
}


.About{
    text-align: center;
    display: table-cell;
    padding-top: 45px;
    width:33.333%;
}

.About a{
    color: white;
    text-decoration: none;
}

.Privacy_policy a{
    color: white;
    text-decoration: none;
}
